@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-size: 20px;
}

body{
    margin: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter',sans-serif;
}

h1,p{
    margin: 0;
}

#addTaskBtn{
    position: absolute;
    bottom: 45px;
    background-color:black;
    color:white;
    width:70px;
    text-align: center;
    padding: 0.2em 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1s;
}

#container{
    margin-top: 50px;
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    flex-direction: column;
    max-height: 45%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}#container::-webkit-scrollbar {
  display: none;
}

.task {
  display: block;
  word-break: break-word;
  text-align: center;
  background-color:limegreen;
  box-sizing: border-box;
  padding: 0.2em 0.5em;
  transition: 0.1s;
}.task:hover{
    font-size: 1.05em;
    text-decoration: line-through;
    cursor: pointer;
}.task:active{
    font-size: 0.85em;
    opacity: 0.5;
}
